<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Test">
	<select id="select_list">
		select 
			b_seq, 
			display_yn, 
			title, 
			content, 
			attach_path, 
			attach_file, 
			hit, 
			in_date, 
			in_user_id, 
			up_date, 
			up_user_id,
			(select user_name from suser u where u.user_id = n.in_user_id) in_user_name
 		from 
 			snotice n
 		where
 			(display_yn = 'y' or in_user_id = :1)
 			and title like '%'||:2||'%'	
 		order by 
 			b_seq desc
	</select>
	<select id="select">
		select 
			b_seq, 
			display_yn, 
			title, 
			content, 
			attach_path, 
			attach_file, 
			hit, 
			in_date, 
			in_user_id, 
			up_date, 
			up_user_id,
			(select user_name from suser u where u.user_id = n.in_user_id) in_user_name
 		from 
 			snotice n
 		where  
 			b_seq = :1 
 			
	</select>	
	
	<update id="insert">
		insert into snotice 
		(
			b_seq, 
			display_yn, 
			title, 
			content, 
			attach_path, 
			attach_file, 
			hit, 
			in_date, 
			in_user_id, 
			up_date, 
			up_user_id
		) 
		values
		(	
			notice_seq.nextval,
			:1, 
			:2, 
			:3, 
			:4, 
			:5,
			'0',
			to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
			:6, 
			to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
			:7
		)
	</update>
	<update id="update">
		update 
			snotice 
		set 
			display_yn			=:1, 
			title				=:2, 
			content				=:3, 
			attach_path			=:4, 
			attach_file			=:5,
			up_date				= to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
			up_user_id			=:6
		where 
			b_seq=:7
	</update>
	
	<update id="hit">
		update 
			snotice 
		set 
			hit			=hit+1
		where 
			b_seq=:1
	</update>
	
	
	<update id="del_img">
		update 
			snotice 
		set 
			attach_path			= '', 
			attach_file			= '',
			up_date				= to_char(sysdate, 'YYYYMMDD.HH24MISS'), 
			up_user_id			=:1
		where 
			b_seq=:2
	</update>
	
	<update id="delete">
		delete from snotice 
		where 
			b_seq= :1
	</update>
</mapper>